{% extends "base.html" %}

{% block title %} Remove background from your images in seconds {% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-md text-center text-md-left">
            <h1>Remove image background in seconds</h1>
            <p>100% automatically and
                <span class="font-weight-bold position-relative d-inline-block">free</span>
            </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md d-flex flex-column">
            <div class="pl-md-1 mt-auto position-relative">
                {% include 'include/upload.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


